.upload-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* MUST BE HIGHER */
}

.upload-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}


.upload-modal h2 {
  margin-bottom: 15px;
}

.upload-modal input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.actions button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.actions button:first-child {
  background: #e5e7eb;
}

.actions button:last-child {
  background: #2563eb;
  color: white;
}

.error {
  color: red;
  margin-bottom: 10px;
}

@keyframes pop {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
